<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/account.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-container">
        <span class="pro">PRO</span>
        <div class="user"></div>
        <h3 id="username"></h3>
        <h4 id="email"></h4>
        <div class="buttons">
            <button class="primary">
                Bookings
            </button>
            <button class="primary ghost">
                History
            </button>
        </div>
    </div>
    <div id="bookings" class="bookings">
        <h1>Your Bookings</h1>
    </div>
    <div id="payments" class="payment">
        <h1>Your Payments</h1>

    </div>
      <script src="../js/account.js"></script>
</body>
</html>