<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tripy</title>
</head>
<body>
    
    <header>
        <a href="" class="brand">Tripy</a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <div class="navigation-items">
                <a href="./home.html">Home</a>
                <a href="./book.html">Book</a>
                <a href="./explore.html">Explore</a>
                <a href="#">Gallery</a>
                <a href="#">Contact</a>
                <a href="../views/account.html"><div class="user"></div></a>
            </div>
        </div>
    </header>
    <div>
        
    </div>
    <section class="home">
        <video class="video-slide active" src="../Assets/Mountain - 34608.mp4" autoplay muted loop></video>
        <video class="video-slide" src="../Assets/Ocean - 19609.mp4" autoplay muted loop></video>
        <video class="video-slide" src="../Assets/River - 85373.mp4" autoplay muted loop></video>
        <video class="video-slide" src="../Assets/Waterfall - 37088.mp4" autoplay muted loop></video>
        <video class="video-slide" src="../Assets/pexels-ivan-khmelyuk-8782415.mp4" autoplay muted loop></video>
        <div class="content active">
            <h1>Wonderful<br> <span>Island</span></h1>
            <p>He was born on 30 November 1858 – 23 November 1937 and he was a biologist, physicist, botanist and an early writer of science fiction.He pioneered the investigation of radio and microwave optics, made significant contributions to plant science, and was a major force behind the expansion of experimental science on the Indian subcontinent.IEEE named him one of the fathers of radio science.He is considered the father of Bengali science fiction, and also invented the crescograph, a device for measuring the growth of plants.
                A crater on the moon has been named in his honour.He was Died on 23 November 1937 (aged 78). He You Find me Who I am ?</p>
            <a href="#">Read More</a>
        </div>

        <div class="content">
            <h1>2<br> <span>Island</span></h1>
            <p>He was born on 30 November 1858 – 23 November 1937 and he was a biologist, physicist, botanist and an early writer of science fiction.He pioneered the investigation of radio and microwave optics, made significant contributions to plant science, and was a major force behind the expansion of experimental science on the Indian subcontinent.IEEE named him one of the fathers of radio science.He is considered the father of Bengali science fiction, and also invented the crescograph, a device for measuring the growth of plants.
                A crater on the moon has been named in his honour.He was Died on 23 November 1937 (aged 78). He You Find me Who I am ?</p>
            <a href="#">Read More</a>
        </div>

        <div class="content">
            <h1>3<br> <span>Island</span></h1>
            <p>He was born on 30 November 1858 – 23 November 1937 and he was a biologist, physicist, botanist and an early writer of science fiction.He pioneered the investigation of radio and microwave optics, made significant contributions to plant science, and was a major force behind the expansion of experimental science on the Indian subcontinent.IEEE named him one of the fathers of radio science.He is considered the father of Bengali science fiction, and also invented the crescograph, a device for measuring the growth of plants.
                A crater on the moon has been named in his honour.He was Died on 23 November 1937 (aged 78). He You Find me Who I am ?</p>
            <a href="#">Read More</a>
        </div>

        <div class="content">
            <h1>4<br> <span>Island</span></h1>
            <p>He was born on 30 November 1858 – 23 November 1937 and he was a biologist, physicist, botanist and an early writer of science fiction.He pioneered the investigation of radio and microwave optics, made significant contributions to plant science, and was a major force behind the expansion of experimental science on the Indian subcontinent.IEEE named him one of the fathers of radio science.He is considered the father of Bengali science fiction, and also invented the crescograph, a device for measuring the growth of plants.
                A crater on the moon has been named in his honour.He was Died on 23 November 1937 (aged 78). He You Find me Who I am ?</p>
            <a href="#">Read More</a>
        </div>
        position: relative;
        width: 100%;
        min-height: 100vh;
        justify-content: center;
        flex-direction: column;
        background: #2696E9;
        <div class="content">
            <h1>5<br> <span>Island</span></h1>
            <p>He was born on 30 November 1858 – 23 November 1937 and he was a biologist, physicist, botanist and an early writer of science fiction.He pioneered the investigation of radio and microwave optics, made significant contributions to plant science, and was a major force behind the expansion of experimental science on the Indian subcontinent.IEEE named him one of the fathers of radio science.He is considered the father of Bengali science fiction, and also invented the crescograph, a device for measuring the growth of plants.
                A crater on the moon has been named in his honour.He was Died on 23 November 1937 (aged 78). He You Find me Who I am ?</p>
            <a href="#">Read More</a>
        </div>
        <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="slider-navigation">
           <div class="nav-btn active"> </div>
           <div class="nav-btn"> </div>
           <div class="nav-btn"> </div>
           <div class="nav-btn"> </div>
           <div class="nav-btn"> </div>
        </div>
    </section>

    <section class="second-sec">
        <video class="sec-video" src="../Assets/Ink - 67358.mp4" autoplay muted loop></video>
        <h2>Tripy !<br> Makes Your Trip Safety !</h2>
        <div class="circle"></div>
    </section>

    <script src="../js/script.js"></script>
</body>
</html>